# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29


# front end 
numpy
streamlit
requests
google-cloud-storage
soundfile

# Model
tensorflow-cpu
youtube_dl
#librosa
git+https://github.com/CPJKU/madmom
spleeter
pyACA
scipy
sklearn
pydub
